<form #saveMatchDialog="ngForm" name="saveMatchDialog">
  <h1 mat-dialog-title>Save Lineups</h1>
  <mat-dialog-content>
    Enter the match date (MM-DD-YYYY):
    <input matInput [(ngModel)]="match.date" ngModel name="date" required pattern="\d{2}-\d{2}-\d{4}">
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="!saveMatchDialog.valid || isSaving" (click)="saveMatch()">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
