<div class="team-picker-container" *ngIf="teamData$ | async as teamData">
  <!-- Available players -->
  <div class="player-container" *ngIf="teamsData[0].players">
    <h2 class="droplist-label">{{teamsData[0].label}}</h2>

    <mat-card class="player-card" *ngFor="let player of teamsData[0].players">
      <mat-card-content class="player-card-content">
        <span class="player-name" [class.smaller-card]="!showConfirmBtn">{{ player }}</span>
        <button mat-stroked-button class="player-select-btn"
        color="primary" (click)="onSubmit(player)" [disabled]="isConfirmDisabled"
        *ngIf="showConfirmBtn">Select</button>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- My team -->
  <div class="player-container">
    <h2 class="droplist-label">{{teamsData[1].label}}</h2>

    <mat-card class="player-card" *ngFor="let player of teamsData[1].players">
      <mat-card-content class="player-card-content">
        <span class="player-name smaller-card">{{ player }}</span>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Opposing team -->
  <div class="player-container">
    <h2 class="droplist-label">{{teamsData[2].label}}</h2>

    <mat-card class="player-card" *ngFor="let player of teamsData[2].players">
      <mat-card-content class="player-card-content">
        <span class="player-name smaller-card">{{ player }}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<efl-chat #chat [team]="team" *ngIf="this.team === 'white' || this.team === 'dark'"></efl-chat>
