<div class="teamsheets-container">
  <table mat-table [dataSource]="darkTeamDataSource" matSort #darkTeamSort="matSort" class="dark-team">

    <ng-container matColumnDef="assists">
      <th id="dark-assists" mat-header-cell *matHeaderCellDef arrowPosition='before' mat-sort-header>Assists</th>
      <td mat-cell *matCellDef="let entry">
        <fa-icon [icon]="faAdn" *ngFor="let item of [].constructor(entry.assists)"></fa-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="goals">
      <th id="dark-goals" mat-header-cell *matHeaderCellDef arrowPosition='before' mat-sort-header>Goals</th>
      <td mat-cell *matCellDef="let entry">
        <fa-icon [icon]="faFutbol" *ngFor="let item of [].constructor(entry.goals)"></fa-icon>
        <fa-icon [icon]="faFutbol" *ngFor="let item of [].constructor(entry.ownGoals)" class="own-goal"></fa-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th id="dark-name" mat-header-cell *matHeaderCellDef arrowPosition='before' mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let entry">
        <span>{{entry.name}}</span>
        <fa-icon [icon]="faCuttlefish" class="dark-team-icon" *ngIf="entry.isCaptain"></fa-icon>
        <fa-icon [icon]="faCrown" class="dark-team-icon motm-icon" *ngIf="entry.isMotm"></fa-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="header-dark-team-score">
      <th id="dark-team-goals" mat-header-cell *matHeaderCellDef [attr.colspan]="3">
          Dark Team: {{darkTeamGoals}}<span *ngIf="whiteTeamPenalties || darkTeamPenalties">&nbsp;({{darkTeamPenalties}}) </span>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['header-dark-team-score']"></tr>
    <tr mat-header-row *matHeaderRowDef="darkTeamColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: darkTeamColumns;"></tr>
  </table>

  <table mat-table [dataSource]="whiteTeamDataSource" matSort #whiteTeamSort="matSort" class="white-team">
      <ng-container matColumnDef="name">
        <th id="white-name" mat-header-cell *matHeaderCellDef arrowPosition='after' mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let entry">
          <fa-icon [icon]="faCrown" class="white-team-icon motm-icon" *ngIf="entry.isMotm"></fa-icon>
          <fa-icon [icon]="faCuttlefish" class="white-team-icon" *ngIf="entry.isCaptain"></fa-icon>
          <span>{{entry.name}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="goals">
        <th id="white-goals" mat-header-cell *matHeaderCellDef arrowPosition='after' mat-sort-header>Goals</th>
        <td mat-cell *matCellDef="let entry">
          <fa-icon [icon]="faFutbol" *ngFor="let item of [].constructor(entry.goals)"></fa-icon>
          <fa-icon [icon]="faFutbol" *ngFor="let item of [].constructor(entry.ownGoals)" class="own-goal"></fa-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="assists">
        <th id="dark-assists" mat-header-cell *matHeaderCellDef arrowPosition='after' mat-sort-header>Assists</th>
        <td mat-cell *matCellDef="let entry">
          <fa-icon [icon]="faAdn" *ngFor="let item of [].constructor(entry.assists)"></fa-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="header-white-team-score">
        <th id="white-team-goals" mat-header-cell *matHeaderCellDef [attr.colspan]="3">
          <span *ngIf="whiteTeamPenalties || darkTeamPenalties"> ({{whiteTeamPenalties}})&nbsp;</span>{{whiteTeamGoals}}: White Team
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['header-white-team-score']"></tr>
      <tr mat-header-row *matHeaderRowDef="whiteTeamColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: whiteTeamColumns;"></tr>
    </table>

  <div class="penalty-container" *ngIf="whiteTeamPenaltyData.length && whiteTeamPenaltyData.length">
    <h4 class="penalty-label">Penalties</h4>

    <table mat-table [dataSource]="darkTeamPenaltyDataSource" class="dark-team-penalties">

      <ng-container matColumnDef="scored">
        <th id="dark-scored-penalty" mat-header-cell *matHeaderCellDef>Scored</th>
        <td mat-cell *matCellDef="let entry">
          <fa-icon [icon]="faFutbol" *ngIf="entry.scored"></fa-icon>
          <fa-icon [icon]="faTimes" class="missed-penalty" *ngIf="!entry.scored"></fa-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th id="dark-name-penalty" mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let entry">
          <span>{{entry.name}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="header-dark-team-penalty">
        <th id="dark-team-penalty" mat-header-cell *matHeaderCellDef [attr.colspan]="2">
          Dark Team: {{darkTeamPenalties}}
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['header-dark-team-penalty']"></tr>
      <tr mat-header-row *matHeaderRowDef="darkTeamPenaltyColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: darkTeamPenaltyColumns;"></tr>
    </table>

    <table mat-table [dataSource]="whiteTeamPenaltyDataSource" class="white-team-penalties">
        <ng-container matColumnDef="name">
          <th id="white-name-penalty" mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let entry">
            <span>{{entry.name}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="scored">
          <th id="white-scored-penalty" mat-header-cell *matHeaderCellDef>Scored</th>
          <td mat-cell *matCellDef="let entry">
            <fa-icon [icon]="faFutbol" *ngIf="entry.scored"></fa-icon>
            <fa-icon [icon]="faTimes" class="missed-penalty" *ngIf="!entry.scored"></fa-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="header-white-team-penalty">
          <th id="white-team-penalty" mat-header-cell *matHeaderCellDef [attr.colspan]="2">
            {{whiteTeamPenalties}}: White Team
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['header-white-team-penalty']"></tr>
        <tr mat-header-row *matHeaderRowDef="whiteTeamPenaltyColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: whiteTeamPenaltyColumns;"></tr>
      </table>
  </div>
</div>
