<div class="team-picker-container">

  <div class="admin-btn-container">
    <button mat-raised-button color="primary" (click)="onSaveMatch()">
      <fa-icon [fixedWidth]="true" [icon]="faSave"></fa-icon>
      <span class="btn-text">Save Lineups</span>
    </button>
    <button mat-raised-button class="reset-btn" (click)="onResetTeamPicker()">
      <fa-icon [fixedWidth]="true" [icon]="faExclamationTriangle"></fa-icon>
      <span class="btn-text">Reset Team Picker</span>
    </button>
  </div>

  <!-- Available players -->
  <div class="player-container" *ngIf="teamsData && teamsData[0].players">
    <h2 class="droplist-label">{{teamsData[0].label}} ({{playerCounts[0]}})</h2>

    <mat-card class="player-card" *ngFor="let player of teamsData[0].players">
      <mat-card-content class="player-card-content">
        <span class="player-name" [class.smaller-card]="!showConfirmBtn">{{ player }}</span>
        <span class="icon-container">
          <fa-icon [fixedWidth]="true" [icon]="faUserMinus" class="menu-icon"
            matTooltip="Move to out" (click)="onClick(player, 0, 3)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUser" class="menu-icon dark-team-icon"
            matTooltip="Move to dark team" (click)="onClick(player, 0, 1)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUser" class="menu-icon white-team-icon"
            matTooltip="Move to white team" (click)="onClick(player, 0, 2)"></fa-icon>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Dark team -->
  <div class="player-container" *ngIf="teamsData && teamsData[1].players">
    <h2 class="droplist-label">{{teamsData[1].label}} ({{playerCounts[1]}})</h2>

    <mat-card class="player-card" *ngFor="let player of teamsData[1].players">
      <mat-card-content class="player-card-content">
        <span class="player-name smaller-card">{{ player }}</span>
        <span class="icon-container">
          <fa-icon [fixedWidth]="true" [icon]="faUserCheck" class="menu-icon"
            matTooltip="Move to available" (click)="onClick(player, 1, 0)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUserMinus" class="menu-icon"
            matTooltip="Move to out" (click)="onClick(player, 1, 3)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUser" class=" menu-icon white-team-icon"
            matTooltip="Move to white team" (click)="onClick(player, 1, 2)"></fa-icon>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- White team -->
  <div class="player-container" *ngIf="teamsData && teamsData[2].players">
    <h2 class="droplist-label">{{teamsData[2].label}} ({{playerCounts[2]}})</h2>

    <mat-card class="player-card" *ngFor="let player of teamsData[2].players">
      <mat-card-content class="player-card-content">
        <span class="player-name smaller-card">{{ player }}</span>
        <span class="icon-container">
          <fa-icon [fixedWidth]="true" [icon]="faUserCheck" class="menu-icon"
            matTooltip="Move to available" (click)="onClick(player, 2, 0)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUserMinus" class="menu-icon"
            matTooltip="Move to out" (click)="onClick(player, 2, 3)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUser" class="menu-icon dark-team-icon"
            matTooltip="Move to dark team" (click)="onClick(player, 2, 1)"></fa-icon>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Remaining players (out) -->
  <div class="player-container" *ngIf="teamsData && teamsData[3].players">
    <h2 class="droplist-label">{{teamsData[3].label}} ({{playerCounts[3]}})</h2>

    <mat-card class="player-card" *ngFor="let player of teamsData[3].players">
      <mat-card-content class="player-card-content">
        <span class="player-name smaller-card">{{ player }}</span>
        <span class="icon-container">
          <fa-icon [fixedWidth]="true" [icon]="faUserCheck" class="menu-icon"
            matTooltip="Move to available" (click)="onClick(player, 3, 0)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUser" class="menu-icon dark-team-icon"
            matTooltip="Move to dark team" (click)="onClick(player, 3, 1)"></fa-icon>
          <fa-icon [fixedWidth]="true" [icon]="faUser" class="menu-icon white-team-icon"
            matTooltip="Move to white team" (click)="onClick(player, 3, 2)"></fa-icon>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<efl-chat #chat [team]="'admin'"></efl-chat>
