.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  max-width: 300px;
  border: 1px solid rgba(0,0,0,.12);
}

td.mat-cell {
  border: 1px solid rgba(0,0,0,.12);
  text-align: center;
}

th.mat-header-cell, td.mat-cell {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
