@import '~include-media/dist/_include-media';

mat-sidenav {
  @include media(">=phone", "<tablet") {
    width: 175px;
  }
}

.mat-nav-list {
  margin-top: 10px;
  padding-top: 0px;
}

.mat-list-item {
  display: inline !important;
}

.mat-list-item:hover, .mat-list-item:focus {
  background-color: transparent;
}

.menu-item-link ::ng-deep .mat-list-item-content {
  display: inline !important;
}

.menu-icon {
  margin-left: 10px;
}

.menu-item {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.menu-item:hover {
  background-color: #b4bbe4;
}

.login-btn, .logout-btn {
  margin-left: auto;
}

.login-btn:hover, .logout-btn:hover {
  background-color: #354497;
}

.admin-menu-header {
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin-menu-item {
  margin-top: 5px;
  margin-bottom: 0;
}
