<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Estadio Fallon Liga</h1>
    <button mat-flat-button color="primary" class="login-btn" [routerLink]="'/auth/login'" *ngIf="!getAuthService().isLoggedIn()">Login</button>
    <button mat-flat-button color="primary" class="logout-btn" (click)="logout()" *ngIf="getAuthService().isLoggedIn()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav (click)="sidenav.toggle()">
    <mat-nav-list>
      <div class="menu-item" *ngFor="let menuItem of menuItems">
        <fa-icon class="menu-icon" [fixedWidth]="true" [icon]="menuItem.icon"></fa-icon>
        <a class="menu-item-link" mat-list-item [routerLink]="menuItem.link" [queryParams]="menuItem.queryParams">{{menuItem.label}}</a>
      </div>
      <ng-container *ngIf="(getAuthService().isAdmin() | async) as isAdmin">
        <mat-divider></mat-divider>
        <p class="admin-menu-header">Admin Menu</p>
        <mat-divider></mat-divider>
        <div class="menu-item admin-menu-item" *ngFor="let menuItem of adminMenuItems">
          <fa-icon class="menu-icon" [fixedWidth]="true" [icon]="menuItem.icon"></fa-icon>
          <a class="menu-item-link" mat-list-item [routerLink]="menuItem.link" [queryParams]="menuItem.queryParams">{{menuItem.label}}</a>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
