<div class="chat-container">
  <div #chatBox class="chat-box">
    <ng-container *ngIf="chat$ | async as chatItems">
      <div *ngFor="let chatItem of chatItems; let last = last" class="chat-bubble" [ngClass]="(team==chatItem.user)?'my-chat-bubble':'opp-chat-bubble'"
      [class.my-chat-bubble]="chatItem.user===team&&team!='admin'" [class.opp-chat-bubble]="chatItem.user!=team&&chatItem.user!=='system'"
      [class.system-chat-bubble]="chatItem.user==='system'" [class.white-chat-bubble]="chatItem.user==='white'"
      [class.dark-chat-bubble]="chatItem.user==='dark'" [class.admin-chat-bubble]="chatItem.user==='admin'">
        <p class="chat-message"><span *ngIf="chatItem.user==='admin'">Admin:&nbsp;</span>{{chatItem.message}}</p>
        <p class="chat-timestamp" *ngIf="chatItem.user!=='system'">{{chatItem.timestamp.toDate() | date:'medium'}}</p>
        {{last ? scrollToBottom() : ''}}
      </div>
    </ng-container>
  </div>
  <textarea class="chat-input" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" [disabled]="isMessageSending"
    [(ngModel)]="chatInput" ngModel (keydown.enter)="onSubmit()"></textarea>
  <button mat-flat-button color="primary" class="chat-submit" (click)="onSubmit()" [disabled]="isMessageSending">Send</button>
</div>
